/* Estilos generales */
body {
    font-family: Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000000;         /* text color */
    background-color: #ffffff:  /* #c0c0c0;  background color */
}

/* Estilos para la cabecera */
.header {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.title {
    font-size: 1.5em;
    color: #333;
}
h3 {
    /* margin-bottom: 10px;  Espacio entre el h1 y la imagen */
    margin-left: 3%;    }
.container {
    /*
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    */
}
}
.content {
            /* display: flex;
            flex-direction:column;
            align-items: flex-start; */
            width: 100%;
            }
.content img {
            float: left;
            margin-left: 3%;            
            /* flex: 0 0 25%; */
            max-width: 25%;
            margin-right: 1rem; 
            height: auto; 
          
                       }
.content p {
            /* flex: 1; */
            text-align: justify;
            hyphens: auto;
            margin-right: 3%;
            margin-left: 3%;
            /* overflow: hidden;*/
            }
.button {
            font-family: "Times", serif;
            font-size: 14px;
            font-weight: bold;
            background-color: black;
            color: white;
            border: 1px solid blue;
            border-radius: 12px;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            }
}

